.item-1{
    background:url(../img/full_catalog/textile/1.jpg) center;
    background-size: cover;
}
.item-2{
    background:url(../img/full_catalog/textile/2.jpg) center;
    background-size: cover;
}
.item-3{
    background:url(../img/full_catalog/textile/3.jpg) center;
    background-size: cover;
}
.item-4{
    background:url(../img/full_catalog/textile/4.jpg) center;
    background-size: cover;
}
.item-5{
    background:url(../img/full_catalog/textile/5.jpg) center;
    background-size: cover;
}
.item-6{
    background:url(../img/full_catalog/textile/6.jpg) center;
    background-size: cover;
}
.item-7{
    background:url(../img/full_catalog/textile/7.jpg) center;
    background-size: cover;
}
.item-8{
    background:url(../img/full_catalog/textile/8.jpg) center;
    background-size: cover;
}
.item-9{
    background:url(../img/full_catalog/textile/9.jpg) center;
    background-size: cover;
}
.item-10{
    background:url(../img/full_catalog/textile/10.jpg) center;
    background-size: cover;
}
.item-11{
    background:url(../img/full_catalog/textile/11.jpg) center;
    background-size: cover;
}
.item-12{
    background:url(../img/full_catalog/textile/12.jpg) center;
    background-size: cover;
}
.item-13{
    background:url(../img/full_catalog/textile/13.jpg) center;
    background-size: cover;
}
.item-14{
    background:url(../img/full_catalog/textile/14.jpg) center;
    background-size: cover;
}
.item-15{
    background:url(../img/full_catalog/textile/15.jpg) center;
    background-size: cover;
}
.item-16{
    background:url(../img/full_catalog/textile/16.jpg) center;
    background-size: cover;
}
.item-17{
    background:url(../img/full_catalog/textile/17.jpg) center;
    background-size: cover;
}
.item-18{
    background:url(../img/full_catalog/textile/18.jpg) center;
    background-size: cover;
}
.item-19{
    background:url(../img/full_catalog/textile/19.jpg) center;
    background-size: cover;
}
.item-20{
    background:url(../img/full_catalog/textile/20.jpg) center;
    background-size: cover;
}
.item-21{
    background:url(../img/full_catalog/textile/21.jpg) center;
    background-size: cover;
}
.item-22{
    background:url(../img/full_catalog/textile/22.jpg) center;
    background-size: cover;
}
.item-23{
    background:url(../img/full_catalog/textile/23.jpg) center;
    background-size: cover;
}
.item-24{
    background:url(../img/full_catalog/textile/24.jpg) center;
    background-size: cover;
}
.item-25{
    background:url(../img/full_catalog/textile/25.jpg) center;
    background-size: cover;
}
.item-26{
    background:url(../img/full_catalog/textile/26.jpg) center;
    background-size: cover;
}
.item-27{
    background:url(../img/full_catalog/textile/27.jpg) center;
    background-size: cover;
}
.item-28{
    background:url(../img/full_catalog/textile/28.jpg) center;
    background-size: cover;
}
.item-29{
    background:url(../img/full_catalog/textile/29.jpg) center;
    background-size: cover;
}
.item-30{
    background:url(../img/full_catalog/textile/30.jpg) center;
    background-size: cover;
}
.item-31{
    background:url(../img/full_catalog/textile/31.jpg) center;
    background-size: cover;
}
.item-32{
    background:url(../img/full_catalog/textile/32.jpg) center;
    background-size: cover;
}
.item-33{
    background:url(../img/full_catalog/textile/33.jpg) center;
    background-size: cover;
}
.item-34{
    background:url(../img/full_catalog/textile/34.jpg) center;
    background-size: cover;
}
.item-35{
    background:url(../img/full_catalog/textile/35.jpg) center;
    background-size: cover;
}
.item-36{
    background:url(../img/full_catalog/textile/36.jpg) center;
    background-size: cover;
}
.item-37{
    background:url(../img/full_catalog/textile/37.jpg) center;
    background-size: cover;
}
.item-38{
    background:url(../img/full_catalog/textile/38.jpg) center;
    background-size: cover;
}
.item-39{
    background:url(../img/full_catalog/textile/39.jpg) center;
    background-size: cover;
}
.item-40{
    background:url(../img/full_catalog/textile/40.jpg) center;
    background-size: cover;
}
.item-41{
    background:url(../img/full_catalog/textile/41.jpg) center;
    background-size: cover;
}
.item-42{
    background:url(../img/full_catalog/textile/42.jpg) center;
    background-size: cover;
}
.item-43{
    background:url(../img/full_catalog/textile/43.jpg) center;
    background-size: cover;
}
.item-44{
    background:url(../img/full_catalog/textile/44.jpg) center;
    background-size: cover;
}
.item-45{
    background:url(../img/full_catalog/textile/45.jpg) center;
    background-size: cover;
}
.item-46{
    background:url(../img/full_catalog/textile/46.jpg) center;
    background-size: cover;
}
.item-47{
    background:url(../img/full_catalog/textile/47.jpg) center;
    background-size: cover;
}
.item-48{
    background:url(../img/full_catalog/textile/48.jpg) center;
    background-size: cover;
}
.item-49{
    background:url(../img/full_catalog/textile/49.jpg) center;
    background-size: cover;
}
.item-50{
    background:url(../img/full_catalog/textile/50.jpg) center;
    background-size: cover;
}
.item-40{
    background:url(../img/full_catalog/textile/40.jpg) center;
    background-size: cover;
}
.item-51{
    background:url(../img/full_catalog/textile/51.jpg) center;
    background-size: cover;
}
.item-52{
    background:url(../img/full_catalog/textile/52.jpg) center;
    background-size: cover;
}
.item-53{
    background:url(../img/full_catalog/textile/53.jpg) center;
    background-size: cover;
}
.item-54{
    background:url(../img/full_catalog/textile/54.jpg) center;
    background-size: cover;
}
.item-55{
    background:url(../img/full_catalog/textile/55.jpg) center;
    background-size: cover;
}
.item-56{
    background:url(../img/full_catalog/textile/56.jpg) center;
    background-size: cover;
}
.item-57{
    background:url(../img/full_catalog/textile/57.jpg) center;
    background-size: cover;
}
.item-58{
    background:url(../img/full_catalog/textile/58.jpg) center;
    background-size: cover;
}
.item-59{
    background:url(../img/full_catalog/textile/59.jpg) center;
    background-size: cover;
}
.item-60{
    background:url(../img/full_catalog/textile/60.jpg) center;
    background-size: cover;
}

.store__item{
    box-shadow: 0px 3px 6px #00000057; 
}